<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rbxu.market.mapper.ProjectMapper">


    <resultMap type="com.rbxu.market.manager.entity.ProjectDO" id="customerMap">
         <result property="customerId" column="emp_no"/>
         <result property="memberId" column="salary"/>
         <result property="globalId" column="from_date"/>
     </resultMap>


    <select id="getById" resultType="com.rbxu.market.manager.entity.ProjectDO" resultMap="customerMap">
        select * from customer where customer_id = #{id}
    </select>


</mapper>
